nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: whitesmoke;
  width: 100%;

  position: absolute;
  top: 0;
  z-index: 5;
  .navlink {
    text-decoration: none;
    width: 125px;
    text-align: center;
    &:hover {
      background: rgb(197, 194, 194);
    }
  }
  p {
    cursor: pointer;
    color: black;
  }
}
